<html>
<head>

    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/addFonts.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/anarsuperpanel/css/icons.css') }}">

    <style>
        body{
            background: #373737;
            font-family: Roya;
            direction: rtl;
        }

        .error_content{
            width: 50%;
            margin: 10% auto;
            /*background: white;*/
            padding: 15px;
            text-align: center;
        }
        .error_content h2{
            color: #ffffff;
            font-family: Roya;
        }
        .error_content a{
            text-decoration: none;
            color: #ffffff;
            font-size: 20pt;
        }

        .error_icon i{
            font-size: 150pt;
            color: white;
        }
    </style>
</head>
<body>
<div class="error_content">
    <div class="error_icon">
        <i class="fa fa-frown-o"></i>
    </div>
    <h2>شما به این صفحه دسترسی ندارید!</h2>
    <a href="">بازگشت به صفحه قبل</a>
</div>
</body>
</html>