.tab_content_box{
    background: white;
    padding: 25px;
    min-height: 400px;
}

.tittle_tab_content{
    font-size: 1.2em;
}

.cursor_pointer{
    cursor: pointer !important;
}

.margin_top_5{
    margin-top: 5px;
}

.margin-top-10{
    margin-top: 10px;
}

.margin-top-15{
    margin-top: 15px;
}

.margin-top-20{
    margin-top: 20px;
}

.margin-top-25{
    margin-top: 25px;
}

.margin_bottom_5{
    margin-bottom: 5px;
}

.margin-bottom-10{
    margin-bottom: 10px;
}

.margin-bottom-15{
    margin-bottom: 15px;
}

.margin-bottom-20{
    margin-bottom: 20px;
}

.margin-bottom-25{
    margin-bottom: 25px;
}

.btn-submit-blog{
    background: #00a0dc;
    padding: 5px 20px;
    color: #ffffff;
}

.btn-submit-blog:hover{
    background: #0079A6;
    color: #ffffff;
}

.form_container{
    background: #fafafa;
    border: 1px solid #e5e5e5;
    padding: 15px;
}

.records_list{
    width: 100%;
}

.records_list tr:first-child{
    background: #ccc;
    padding: 10px;
    color: white;
}

.records_list tr:first-child{
    background: #ccc;
    padding: 10px;
    color: #ffffff;
}

.records_list tr:first-child td{
    padding: 10px;
}

.records_list tr:first-child td a{
    text-decoration: none;
    color: #ffffff;
}

.records_list .t1{
    background: #ffffff;
    color: #828282;
}

.records_list .t1 td{
    padding: 10px;
}

.records_list .t2{
    background: #f7f7f7;
    color: #828282;
}

.records_list .t2 td{
    padding: 10px;
}

.R_butt_green{
    background: #6dc437;
    padding: 0 10px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.R_butt_green:hover{
    background: #508f29;
}

.R_butt_red{
    background: #c44d49;
    padding: 0 10px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.R_butt_red:hover{
    background: #933937;
}

.R_butt_blue{
    background: #00a0dc;
    padding: 0 10px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.R_butt_blue:hover{
    background: #0079A6;
}