# This file is a "template" of what your parameters.yml file should look like
parameters:
    database_driver:   pdo_mysql
    database_host:     127.0.0.1
    database_port:     ~
    database_name:     anar
    database_user:     root
    database_password: ~
    # You should uncomment this if you want use pdo_sqlite
    # database_path: "%kernel.root_dir%/data.db3"

    router.request_context.host: localhost
    router.request_context.scheme: http
    router.request_context.base_url: '' # "" or "/google/test"

    mailer_transport:  smtp
    mailer_host:       127.0.0.1
    mailer_user:       ~
    mailer_password:   ~

    locale:            fa
    languages:         [fa]

    # A secret key that's used to generate certain security-related tokens
    secret:            ThisTokenIsNotSoSecretChangeIt
    debug_toolbar:     false

    # anar configuration
    master_blog: main
    admin_username: admin
    admin_password: admin
    admin_email: ghanbari.daniel@gmail.com
    kernel.web_dir: %kernel.root_dir%/../web
    address_type: domain #uri