<div class="fullwidthbanner-container slider-main">
    <div class="fullwidthabnner" id="slider">
        <ul id="revolutionul" style="display:none;">
            {% for image in images %}
                <li data-transition="fade" data-slotamount="7" data-masterspeed="300" data-delay="9400" data-thumb="assets/img/sliders/revolution/thumbs/thumb2.jpg">
                    {% set imagePath = vich_uploader_asset(image, 'imageFile') %}
                    <img class="slider_img" src="{{ imagePath }}" alt="{{ image.description }}">
                    <div class="caption lfl slide_title slide_item_left"
                         data-x="0"
                         data-y="125"
                         data-speed="400"
                         data-start="3500"
                         data-easing="easeOutExpo">
                        {{ image.description }}
                    </div>
                </li>
            {% endfor %}
        </ul>
        <div class="tp-bannertimer tp-bottom"></div>
    </div>
</div>