.tab_content_box{
    background: white;
    padding: 25px;
    min-height: 400px;
}

.R_butt_green{
    background: #6dc437;
    padding: 5px 15px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.R_butt_green:hover{
    background: #508f29;
    color: white;
}

.R_butt_red{
    background: #c44d49;
    padding: 5px 15px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.R_butt_red:hover{
    background: #933937;
    color: white;
}

.R_butt_blue{
    background: #00a0dc;
    padding: 5px 15px;
    color: #ffffff;
    text-align: center;
    cursor: pointer;
}

.R_butt_blue:hover{
    background: #0079A6;
    color: white;
}

._error{
    font-size: 10pt;
    color: red;
}

._success{
    font-size: 10pt;
    color: #6dc437;
}

.display-none{
    display: none;
}

.branch:hover{
    background: #282828 !important;
}

.branch .menu_level_1{
    display: none;
}

.menu-items{
    color: white !important;
    padding: 5px;
    border-radius: 5px;
}

.menu-items i{
    vertical-align: -3px;
    padding-left: 5px;
}

.menu-items:hover{
    background: #B12133 !important;
    color: white !important;
}

.sub-menu-items{
    color: #ffffff;
    vertical-align: 3px;
    margin-right: 5px;
    font-size: 11pt;
}

.sub-menu-items:hover{
    text-decoration: none;
    background: #B12133 !important;
    color: white !important;
}

.leaf{
    color: #ffffff !important;
}

.leaf:hover a{
    color: #ffffff !important;
}

.leaf:hover{
    /*color: #282828 !important;*/
    background: #B12133 !important;
    color: white !important;
}

.current{
    background: #B12133;
}

.branch.open .menu_level_1{
    display: block;
    -webkit-transition: display 0.5s;
    -moz-transition: display 0.5s;
    -ms-transition: display 0.5s;
    -o-transition: display 0.5s;
    transition: display 0.5s;
}

.branch.minus .menu_level_1{
    display: none;
    -webkit-transition: display 0.5s;
    -moz-transition: display 0.5s;
    -ms-transition: display 0.5s;
    -o-transition: display 0.5s;
    transition: display 0.5s;
}



.records_list{
    width: 100%;
}

.records_list tr:first-child{
    background: #5f5f5f;
    padding: 10px;
    color: white;
}

.records_list tr:first-child td{
    padding: 10px;
    font-size: 13px;
}

.records_list tr:first-child td a{
    text-decoration: none;
    color: #ffffff;
}

.records_list .t1{
    background: #ffffff;
    color: #828282;
    font-size: 10pt;
}

.records_list .t1 td{
    padding: 10px;
}

.records_list .t2{
    background: #f7f7f7;
    color: #828282;
    font-size: 10pt;
}

.records_list .t2 td{
    padding: 10px;
}

.add-education-btn{
    background: #6dc437;
    padding: 7px 10px 4px;
    text-align: center;
    border-radius: 5px;
    cursor: pointer;
}

.add-education-btn:hover{
    background: #4c8926;
}

.add-education-btn i{
    color: white;
    font-size: 15pt;
}

.education-form{
    background: #f3f3f3;
    box-shadow: 0 0 2px #aaa;
    padding: 15px;
    margin-top: 10px;
}

.add-education-form{
    background: #f3f3f3;
    box-shadow: 0 0 2px #aaa;
    padding: 15px;
    margin-top: 20px;
    position: relative;
}

.close-additional-box{
    background: red;
    padding: 5px 8px 2px;
    color: #ffffff;
    text-align: center;
    font-size: 12pt;
    position: absolute;
    top: -7px;
    left: -14px;
    cursor: pointer;
    border-radius: 5px;
}

.message-container{
    background: white;
    padding: 10px;
    box-shadow: 0 0 3px #aaa;
    border: 1px #999 solid;
}