{% set archive = [] %}
{% if links|length > 0 %}
    {% for position in links|keys %}
        {% if links[position] is defined %}
            {% for category in links[position]|keys %}
                {% set archive = archive|merge(links[position][category]) %}
            {% endfor %}
        {% endif %}
    {% endfor %}
{% endif %}

{% for index in archive|keys %}
    {% if index == 0 %}
        <div class="col-md-4 col-sm-6">
    {% endif %}
    {% if index % 10 == 9 %}
        </div>
        <div class="col-md-4 col-sm-6">
    {% endif %}
            <div class="link"><a target="_blank" href="{{ archive[index].url }}">{{ archive[index].title }}</a></div>
    {% if index == archive|length - 1 %}
        </div>
    {% endif %}
{% endfor %}