.flexslider {
    margin-bottom: 0px !important;
}

.slider {
    right: 0;
    position: relative;
    overflow: hidden;
    z-index: -1;
}

.slider-menu {
    top: 1px;
    position: absolute;
}

@media screen and (max-width: 768px) {
    .slider-menu {
        position: static;
    }
}

.flex-caption {
    background-color: rgba(51, 51, 51, 0.7);
    position: absolute;
    left: 0;
    top: 53%;
    height: 120px;
    width: 40%;
    padding: 8px 2%;
}

.flex-caption .flex-title {
    color: #fff;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 11px;
    font-family: IRANSans-web;
    font-weight: 500;
    text-align: right;

    opacity: 0;
    margin-right: 400px;
}

.flex-caption .flex-text {
    color: #ffcb0b;
    text-shadow: 0 -1px 0 rgba(0,0,0,.3);
    font-size: 14px;
    font-family: IRANSans-web;
    font-weight: 500;
    text-align: right;
    line-height: 1.8;

    opacity: 0;
    margin-top: 100px;
}

.slider-info {
    position: relative;
    z-index: 100;
    margin-top: -165px;
}

.slider-info-box {
    position: relative;
    height: 140px;
}

.slider-info-box .number {
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 32px;
    padding: 3px 12px;
}

.slider-info-box .text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    text-align: center;
    width: 100%;
}

.slider-info-box.blue {
    color: #ffffff;
    background-color: rgba(0, 46, 98, 0.5);
    border: 1px solid #64aafd;
}

.slider-info-box.blue:hover {
    background-color: rgba(0, 46, 98, 0.9);
}

.slider-info-box.blue .number {
    color: #ffffff;
    border: 1px solid #ffffff;
}

.slider-info-box.gray {
    color: #dddddd;
    background-color: rgba(51, 51, 51, 0.5);
    border: 1px solid #000000;
}

.slider-info-box.gray:hover {
    background-color: rgba(51, 51, 51, 0.9);
}

.slider-info-box.gray .number {
    background-color: #444545;
    border: 1px solid #ffffff;
}

.slider-info-box.yellow {
    color: #000000;
    background-color: rgba(255, 203, 11, 0.5);
    border: 1px solid #cdb34f;
}

.slider-info-box.yellow:hover {
    background-color: rgba(255, 203, 11, 0.9);
}

.slider-info-box.yellow .number {
    background-color: #fde074;
    border: 1px solid #ffffff;
}