.topmenu {
    background: #00417e;
    color: white;
    font-size: 11px;
    min-height:38px !important;
    border: none;
    border-radius: 0;
    margin-bottom: 0;
}

.topmenu * {
    background: #00417e !important;
}

.topmenu .navbar-header {
    margin-right: 1%;
}

.topmenu .navbar-brand {
    color: #ffcb0b !important;
    font-size: 12px;
    padding: 10px;
}

.topmenu li a {
    padding: 10px;
    text-decoration: none;
    color: white !important;
    display: inline-block;
}

.topmenu li:hover > a {
    color: #ffcb0b !important;
}

.topmenu .navbar-nav > li > a, .navbar-brand {
    padding-top:8px !important;
    padding-bottom:0 !important;
    height: 38px;
}

.topmenu .dropdown-submenu:hover > .dropdown-menu {
    display: block;
}